.carousel {
  padding: 81px 0;
  &__inner {
    position: relative;
    width: 750px;
    margin: 0 auto;
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    left: -66px;
    transform: translateY(-50%);
    border: none;
    background-color: #fff;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .slick-next {
    right: -66px;
    left: auto;
  }
  img {
    width: 600px;
  }
}
@media (max-width: 991px) {
  ul {
    display: flex;
    margin: 50px;
    padding: 0;
    justify-content: center;

    li {
      list-style-type: none;
      margin: 0 24px;
    }
  }
  .slick-dots button {
    font-size: 0;
    padding: 0;
  }
  .slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}
@media (max-width: 767px) {
  .carousel {
    &__inner {
      width: 450px;
    }
    img {
      width: 400px;
    }
  }
}

@media (max-width: 575px) {
  .carousel {
    &__inner {
      width: 300px;
    }
    img {
      width: 270px;
    }
  }
}
